.footer {
    background-color: rgba(171, 142, 83, 0.61);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /*position: fixed;*/
    /*bottom: -100px;*/
    width: 100%;
    /*margin-top: -5000px;*/
    flex-shrink: 0;
    /*position: absolute;*/
    bottom: 0;
  }


  .footer-content {
    max-width: 960px;
    margin: 0 auto;
  }

  .footer-content p {
    margin: 0;
  }
