.base-cat {
    background-image: url('../sc/trava.jpg');
    background-size: cover;
    background-position: center;
    /*width: 99vw;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
